dist
dist-ssr

.DS_Store
node_modules
/dist


# local env files
*.local
.env.local
.env.*.local
__pycache__

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unused database files
workspace.code-workspace

# Backup folder.
backup

# TODOs
TODO.md
